.body {
        background-color: #f0f0f0;
}
.article-box {
      border: 1px solid #ddd;
      padding: 20px;
      margin-bottom: 20px;
}

.article-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.article-meta {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.article-content {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.article-stats {
  font-size: 14px;
  color: #999;
}

.gradient-custom {
/* fallback for old browsers */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

